@page "/user"

<PageTitle>User</PageTitle>

<h1>Relatório Usuários</h1>

<FilterUserReport OnFilterSearch="authorsFilter => Search(authorsFilter)"></FilterUserReport>

<hr />

<div class="row mt-3 mb-3">
    <div class="col-6">
        <RadzenDataGrid CellContextMenu="@FindMilestonesByAuthor"
                        CellClick="@FindMilestonesByAuthor"
                        Data="@Authors"
                        @bind-Value=@selectedAuthors
                        TItem="AuthorWithMilestone"
                        AllowPaging="true"
                        PageSize="8"
                        AllowFiltering="true"
                        AllowColumnResize="true"
                        AllowSorting="true"
                        SelectionMode="DataGridSelectionMode.Single"
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
            <Columns>
                <RadzenDataGridColumn TItem="AuthorWithMilestone" Sortable="false" Width="80px" TextAlign="TextAlign.Center">
                    <Template Context="data">
                        <RadzenImage Path="@data.AvatarUrl" class="rz-gravatar" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="AuthorWithMilestone" Property="AuthorName" Title="Nome" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="AuthorWithMilestone" Property="TotalTimeSpent" Title="Tempo" TextAlign="TextAlign.Center">
                    <Template Context="author">
                        @String.Format("{0} h", author.TotalTimeSpent)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
    <div class="col-6">
        <RadzenDataGrid CellContextMenu="@FindIssuesByMilestones"
                        CellClick="@FindIssuesByMilestones"
                        Data="@MilestonesByAuthor"
                        @bind-Value=@selectedMilestones
                        TItem="MilestoneWithIssue"
                        AllowPaging="true"
                        PageSize="8"
                        AllowFiltering="true"
                        AllowColumnResize="true"
                        AllowSorting="true"
                        SelectionMode="DataGridSelectionMode.Single"
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
            <Columns>
                <RadzenDataGridColumn TItem="MilestoneWithIssue" Property="MilestoneTitle" Title="Fase" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="MilestoneWithIssue" Property="TotalTimeSpent" Title="Tempo" TextAlign="TextAlign.Center">
                    <Template Context="milestone">
                        @String.Format("{0} h", milestone.TotalTimeSpent)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>

        <hr class="mt-2 mb-2" />

        <RadzenDataGrid Data="@IssuesByMilestone"
                        AllowFiltering="true"
                        TItem="IssueWithSpendNote"
                        AllowColumnResize="true"
                        AllowSorting="true">
            <Columns>
                <RadzenDataGridColumn TItem="IssueWithSpendNote" Property="IssueTitle" Title="Card" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="IssueWithSpendNote" Property="TotalTimeSpent" Title="Tempo" TextAlign="TextAlign.Center">
                    <Template Context="issue">
                        @String.Format("{0} h", issue.TotalTimeSpent)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>