@page "/user"

<PageTitle>User</PageTitle>

<h1>Relatótio Usuários</h1>

<FilterUserReport OnFilterSearch="authorsFilter => Search(authorsFilter)"></FilterUserReport>

<hr />

<div class="row mt-3 mb-3">
    <div class="col-6">
        <RadzenDataGrid Data="@Authors"
                        AllowFiltering="true"
                        CellClick="@FindMilestonesByAuthor"
                        TItem="AuthorWithMilestone"
                        AllowColumnResize="true"
                        AllowSorting="true"
                        Style="cursor: pointer">
            <Columns>
                <RadzenDataGridColumn TItem="AuthorWithMilestone" Sortable="false" Width="80px">
                    <Template Context="data">
                        <RadzenImage Path="@data.AvatarUrl" class="rz-gravatar" />
                    </Template>
                </RadzenDataGridColumn>
                @*<RadzenDataGridColumn TItem="AuthorMilestoneReportItem" Property="AuthorId" Title="AuthorId" TextAlign="TextAlign.Center" />*@
                <RadzenDataGridColumn TItem="AuthorWithMilestone" Property="AuthorName" Title="Nome" />
                <RadzenDataGridColumn TItem="AuthorWithMilestone" Property="TotalTimeSpent" Title="Tempo" >
                    <Template Context="author">
                        @String.Format("{0} h", author.TotalTimeSpent)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
    <div class="col-6">
        <RadzenDataGrid Data="@MilestonesByAuthor"
                        AllowFiltering="true"
                        TItem="MilestoneWithIssue"
                        AllowColumnResize="true"
                        AllowSorting="true">
            <Columns>
                <RadzenDataGridColumn TItem="MilestoneWithIssue" Property="MilestoneTitle" Title="Fase" />
                <RadzenDataGridColumn TItem="MilestoneWithIssue" Property="TotalTimeSpent" Title="Tempo">
                    <Template Context="milestone">
                        @String.Format("{0} h", milestone.TotalTimeSpent)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>